<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8"> 
		<title>APParking</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery_csrf_ajax.js' %}"></script>
        {% block extra_headers %}            
        {% endblock %}
    </head>
    <body>
		<div class="container">
			{% block content %}  
			{% endblock %}
		</div>
    </body>
</html>