{% extends "base.html" %}
{% load staticfiles %}

{% block extra_headers %}
    <script type="text/javascript">
        var cameraId = {{cameraId}};
    </script>
    <script type="text/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>     
    <script type="text/javascript" src="{% static 'js/camera.js' %}"></script>  
{% endblock %}

{% block content %}
	<h2>Camera {{cameraId}}</h2>
	<img id="cameraImage" height="480" width="640" src="/cameras/image/{{cameraId}}"></img>
{% endblock %}
